{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "endOfLine": "lf",
  "printWidth": 120,
  "tabWidth": 2,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens":"always",
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "parser": "scss",
        "tabWidth": 4
      }
    },
    {
      "files": "*.less",
      "options": {
        "parser": "less",
        "tabWidth": 4
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    }
  ]
}