@import '~antd/lib/style/themes/default.less';
.header {
    padding: 0;
    box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
    .header-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        vertical-align: middle;
        text-align: center;
        margin: auto;
        padding: auto;
    }
    .header-logo-link {
        display: inline-flex;
        margin-right: auto;
    }

    .large-screen-menu {
        display: none;
    }

    .admin-menu {
        margin-left: @margin-lg;
    }

    .line-link, .fb-link {
        height: 30px;
        margin-top: -15px;
        margin-right: 5px;
    }

    @media only screen and (min-width: @screen-md-min) {
        .mobile-dropdown-menu {
            display: none;
        }
        .line-link {
            display: inline-flex;
            height: 45px;
            width: 45px;
            margin-top: 3px;
        }
        .fb-link {
            margin-left: @margin-lg;
            display: inline-flex;
            height: 30px;
            width: 30px;
            margin-top: 3px;
        }
        .large-screen-menu {
            flex-grow: 1;
            justify-content: flex-end;
            display: inline-flex;
        }
    }
}
