@import '../../styles/variables.less';

.search-form {
    .ant-radio-group {
        .ant-radio-wrapper {
            @media only screen and (max-width: @screen-sm-max) {
                display: block;
                height: 30px;
                line-height: 30px;
            }
        }
    }

    @media only screen and (min-width: @screen-md-min) {
        .ant-input-affix-wrapper-lg {
            width: 572px;
        }
        .ant-input-search-button {
            min-width: 100px;
        }
        &.search-form-lg {
            .ant-input-lg,
            .ant-input-clear-icon,
            .ant-input-search-button {
                font-size: @heading-4-size;
            }

            .ant-input-affix-wrapper-lg {
                padding: @padding-sm @padding-lg;
            }

            .ant-input-search-button {
                height: 57px;
                min-width: 140px;
            }
        }
    }
}
